@font-face {
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

#content {
  width: 60%;
  font-size: 120%;
  margin: 0 auto 0 auto;
  text-align: center;
}

#bandname {
  font-family: 'Metal Mania', serif;
  margin: 100px auto 50px auto;
  font-size: 400%;
  font-weight: normal;
  //font-style: italic;
  letter-spacing: 0.08em;
  /*color: rgb(255, 0, 0);*/
}

h3 {
  font-weight: normal;
  margin-top: 100px;
}

table {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

#reloadButton {
  background-color: #750303;
  color: #efefef;
  margin: 20px;
  padding: 5px;
  font-size: 16px;
  font-family: inherit;
  text-transform: uppercase;
  border-radius: 2px;
  outline: 0;
  margin-bottom: 50px;
  border: 1px solid #2d1402;
}

#reloadButton:active {
  color: #750303;
  background-color: #efefef;

}
